.screen {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  h2{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.5;
    @include media768{
      font-size: 1.5rem;
    }
  }
}
